$plugins-tree-view-width: 350px;

:host {
    .container {
        float: right;
        width: calc(100% - #{$plugins-tree-view-width});
        height: calc(100% - 45px);

        #graph-container {
            width: 100%;
            height: 100%;
        }
    }

    app-plugins-tree-view {
        width: $plugins-tree-view-width;
        height: calc(100% - 45px);
        float: left;
        background-color: #00152926;
    }

    .node-count {
        width: 100%;
        height: 45px;
        background-color: #001529;
        color: white;
        display: flex;

        justify-content: flex-start;
        align-items: center;

        padding: 10px;
    }
}
