:host {
    .container {
        position: absolute;
        top: 64px;
        padding: 30px;
        right: -430px;


        nz-card {
            width: 400px;
        }

        &.hide {
          right: -430px;

          animation-name: container-animation-close;
          animation-duration: 0.4s;
        }

        &.enable {
            right: 0;
            animation-name: container-animation-open;

            animation-duration: 0.4s;
        }
    }

    @keyframes container-animation-open {
        from {
            right: -430px;
        }
        to {
            right: 0;
        }
    }

    @keyframes container-animation-close {
        from {
            right: 0;
        }
        to {
            right: -430px;
        }
    }
}
