<div class="container">
    <nz-table
        #basicTable
        [nzData]="dataset"
        [nzPaginationPosition]='"top"'
        nzShowSizeChanger
    >
        <thead>
            <tr>
                <th>Dataset Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.fileName}}</td>
                <td>
                    <a (click)='visualize(data.id)'>Visualize</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
